


.open-sans-normal{
       font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.text-primary{
       color: #FD6E0A;
}
.dark-2{
       color: #474747;
}
nav{
       display: flex;
       align-items: center;
       justify-content: space-between;
       margin: 0px 200px;
}
.header{
       background-image: url('../images/developer.png'), url('../images/header_bg.png');
       background-repeat: no-repeat;
       background-position: top left, right bottom;
       
}
.nav-title{
       font-weight: 800;
       font-size: 45;
}
nav ul li{
       list-style: none;
       margin-right: 50px;
}
nav ul li a{
       text-decoration: none;
}
nav ul{
       display: flex;
       align-items: center;
}
.btn-primary{
       background-color: #FD6E0A;
       color: white;
       padding: 18px 35px;
       border-radius: 5px;
       font-weight: bold;
       font-size: 20px;
       border: none;
       }
       .banner-greetings{
              font-size: 45px;
              font-weight: 600;
       }
       .banner-title{
              font-size: 85px;
              font-weight: bold;
       }
       .banner-profile-pic{
              width: 584px;
              height: 676px;
       }
       .banner{
              display: flex;
              justify-content: space-between;
              margin: 0 35px 0 230px;
       }
       .banner-content{
              max-width: 585px;
       }
       